{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>رستا | ورود و ثبت‌نام</title>
    <link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'shop/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'account/css/authentication.css' %}">
    <link rel="icon" type="image/svg+xml" href="{% static 'shop/img/logo.svg' %}">
</head>
<body style="background-image: url('{% static "shop/img/Pic/TLES1410M08_2_41164fb8-552b-48f0-ad31-aa3d06d1267b.webp" %}');">
    <div class="main-authentication container">
        <header class="header-login">

            <button type="button" class="back-btn" onclick="history.back()">
                {% comment %} TODO گرفتن کوئری فعلی برای بک {% endcomment %}
                <img src="{% static 'shop/img/back.svg' %}" class="back-icon" alt="بازگشت">
            </button>

            <div class="logo-on-login">
                <img src="{% static 'shop/img/logo.svg' %}" class="logo-icon" alt="رستا">
            </div>

        </header>

        <h1>ورود یا ثبت‌نام</h1>

        <form method="post" class="login-form" novalidate>
            {% csrf_token %}
            <p class="form-hint">لطفاً شماره موبایل خود را وارد کنید</p>
            <input type="hidden" name="next" value="{{ next }}">

            <div class="form-group">
                {{ form.mobile }}
                {% if form.mobile.errors %}
                <p class="form-error">{{ form.mobile.errors.0 }}</p>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary login-submit">ورود</button>

            <p class="terms-text">
                ورود شما به رستا یعنی با <a href="#" style="color: var(--creme); text-decoration:underline;">قوانین</a> رستا موافق هستید
            </p>
        </form>
    </div>

    <script src="{% static 'shop/js/main.js' %}"></script>
</body>
